<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student list</title>
</head>
<body>
<h1>Student list</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Date of birth</th>
        <th>Age</th>
    </tr>
    <tr th:each="student : ${nasza_lista_studentow}">
        <td th:text="${student.getId()}"></td>
        <td th:text="${student.getName()}"></td>
        <td th:text="${student.getSurname()}"></td>
        <td th:text="${student.getDateOfBirth()}"></td>
        <td th:text="${student.getAge()}"></td>
    </tr>
</table>

</body>
</html>